body {
    background: whitesmoke
}
.navbar {
    background: steelblue;
    color: white;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    color: steelblue;
    display: block;
    margin: 10px;
}
img {
    height: 300px;
    width: 250px;
    float: right;
    position: relative;
    bottom: 3em;
}
img::after {
    clear: left
}
.article-container {
    padding-top: 20px;
    height: 350px;
    padding: 0;
}
.container {
    /* border: 1px solid black; */
}
.article {
    margin-bottom: 50px;
}

.btn-container {
    display: flex;
    justify-content: flex-start;
}
.nav li {
    transition: background 1s,color 1s;
}
.nav li:hover {
    background: white;
}
li a {
    color: white;
    transition: color 1s;
}
li a:hover {
    color: black
}
.headline {
    display: inline-block;
    margin-left: 10%;
    border-bottom: 2px solid steelblue;
}
.navbar-brand {
    color: white
}