hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));}
body {
    background: black;
    color: white;
}
img {
    height: 400px;
    width: 400px;
}
/* .article-container {
    height: 600px;
} */
.active {
    background: white;
    color: black
}
.nav li {
    transition: background 1s,color 1s;
}
.nav li:hover {
    background: white;
}
li a {
    transition: color 1s;
}
li a:hover {
    color: black
}