body {
    background: whitesmoke
}
.navbar {
    background: steelblue;
    color: white;
}
.source-card {
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    transition: transform 1.0s;
}
.source-card:hover {
    transform: scale(1.1) 
}
.sources-row {
    display: flex;
    justify-content: space-between
}
.btn-container {
    display: flex;
    justify-content: flex-start;
}
.nav li {
    transition: background 1s,color 1s;
}
.nav li:hover {
    background: white;
}
li a {
    color: white;
    transition: color 1s;
}
li a:hover {
    color: black
}
.navbar-brand {
    color: white
}