body {
    background: whitesmoke
}
.navbar {
    background: steelblue;
    color: white;
}
.source-card {
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    transition: transform 0.6s;
}
.source-card:hover {
    transform: scale(1.1) 
}
.sources-row {
    display: flex;
    justify-content: space-between
}
/* .container {
    display: flex;
    justify-content: center;
} */
.source-name {
    display: inline-block;
    border-bottom: 1px solid steelblue;
    margin-bottom: 0.2em;
    font-weight: 800;
}
.btn-container {
    display: flex;
    justify-content: flex-start;
}
.nav li {
    transition: background 1s,color 1s;
}
.nav li:hover {
    background: white;
}
li a {
    color: white;
    transition: color 1s;
}
li a:hover {
    color: black
}
.navbar-brand {
    color: white
}
.headline {
    display: inline-block;
    margin-left: 10%;
    border-bottom: 2px solid steelblue;
}