{% extends "base.html" %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock%}

{% import "macros.html" as macro%}
{% block content%}
    <form class="text-center form-inline">
        <input type="text" class="form-control" name="search_query">
        <input type="submit" value="Search" class="btn btn-sm btn-info">
    </form>
    <h1 class="ml-5">Top Headlines</h1>
    {{macro.display_articles(headlines)}}
{% endblock %}