{% macro display_articles(articles)%}
    <div class="container">
        <div class="articles">
            {% for article in articles %}
                <div class="col-sm-10 article-container">
                    <div class="article">
                        <h2 class="article-header">{{article.title}}</h2>
                        <h5 class="article-author">Author: <strong>{{article.author}}</strong></h5>
                        <div class="img-container">
                            <img src="{{article.image_url}}"  class="img-responsive">
                        </div>
                        <p>{{article.content}}</p>
                        <p>Published on: {{article.publish_date}}</p>
                        <div class="btn-container">
                            <a href="{{article.url}}" class="button btn btn-primary btn-sm" target="_blank">View Full Article</a>
                        </div>
                    </div>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro display_sources(sources)%}
    <div class="container">
        {% for row in sources | batch(3) %}
        <div class="row sources-row">
            {% for source in row %}
                <div class="col-md-3 source-card">
                    <h3 class="source-name">{{source.name}}</h3>
                    <p>{{source.description}}</p>
                    <p>COUNTRY: <strong>{{source.country | upper}}</strong></p>
                    <div class="btn-container">
                        <a class="button btn btn-primary btn-sm" href="/sources/articles/{{source.id}}" target="_blank">View Articles</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endmacro %}