{% macro display_articles(articles)%}
    <div class="container">
        {% for article in articles %}
            <div class="col-sm-10 article-container">
                <h2 class="article-header">{{article.title}}</h2>
                <h5 class="article-author">{{article.author}}</h5>
                <div class="img-container">
                    <img src="{{article.image_url}}"  class="img-responsive">
                </div>
                <p>{{article.content}}</p>
                <p>Published on: {{article.publish_date}}</p>
                <a href="{{article.url}}" target="_blank">View Full Article</a>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro display_sources(sources)%}
    <div class="container">
        {% for row in sources | batch(3) %}
        <div class="row sources-row">
            {% for source in row %}
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 source-card">
                    <h3>{{source.name}}</h3>
                    <p>{{source.description}}</p>
                    <p>{{source.country}}</p>
                    <div class="btn-container">
                        <a class="button btn btn-primary btn-sm" href="/sources/articles/{{source.id}}" target="_blank">View Articles</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endmacro %}