{% macro display_articles(articles)%}
    <div class="container">
        {% for article in articles %}
            <div class="col-sm-10">
                <h2 class="article-header">{{article.title}}</h2>
                <h5 class="article-author">{{article.author}}</h5>
                <img src="{{article.image_url}}" alt="" class="img-responsive">
                <p>{{article.content}}</p>
                <p>Published at: {{article.publish_date}}</p>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro display_sources(sources)%}
    <div class="container">
        {% for source in sources %}
            <h3>{{source.name}}</h3>
            <p>{{source.description}}</p>
            <small>{{source.country}}</small>
            <a href="/sources/articles/{{source.id}}">View Articles</a>
        {% endfor %}
    </div>
{% endmacro %}